# Data Structures

References:
* https://www.w3schools.com/python
* Data Structures and Algorithms with Python - Kent Lee and Steve Hubbard

# Collections

* Tuples
* Sets
* Dictionaries

# Tuples

In [17]:
tech_tuple = ("motherboards", "processors", "power supply")
tech_tuple

('motherboards', 'processors', 'power supply')

Tuples items are ordered, allow duplicate values. However, they are unchangeable.

In [18]:
# Printing an element of the tuple

print(tech_tuple[0])
print(tech_tuple[-1])

motherboards
power supply

In [19]:
# Printing multiple elements
# it will start printing the element you selected up to the last element you selected minus 1
print(tech_tuple[:])

('motherboards', 'processors', 'power supply')

### Check an item in the Tuple

You can also check if an item exists inside the tuple:

In [20]:
if "videogames" in tech_tuple:
    print("The videogames are included")
else: print("This item is not included")

This item is not included

In [21]:
if "motherboards" in tech_tuple:
    print("The motherboards are included")
else: print("This item is not included")

The motherboards are included

### Create a tuple with one item

In [11]:
# this is a tuple
test_tuple = ("element",)

this_not_tuple = ("element")

In [12]:
type(test_tuple)

tuple

In [13]:
type(this_not_tuple)

str

### Data types and Tuples

You can create tuples with any data type you want, and also create tuples of many different types of data as elements

In [14]:
tuple1 = ("string", 150, True)
tuple1

('string', 150, True)

In [15]:
print(type(tuple1))

<class 'tuple'>

You can also create a tuple using its constructor:

In [16]:
tuple_test = tuple(("item 1", "item2"))
tuple_test

('item 1', 'item2')

A tuple is unchangeable by definition. However, you can work around this definition and change or add elements inside the tuple by doing as follows:

In [22]:
# First turn the tuple into a list
tech_list = list(tech_tuple)
tech_list

['motherboards', 'processors', 'power supply']

In [25]:
# after you have a list now you can modify it

tech_list.insert(3, "GPUs")

# the last step is convert back into a tuple
tech_tuple = tuple(tech_list)
tech_tuple

('motherboards', 'processors', 'power supply', 'GPUs')

The same process can be done in order to change and remove any elements inside the tuple

### Unpacking the tuple

Creating the tuple and assigning values to it is defined as packing the tuple

We can also extract the values back into the variables, and this is called unpacking

In [26]:
tech_tuple

('motherboards', 'processors', 'power supply', 'GPUs')

In [28]:
(item1, item2, item3, item4) = tech_tuple

print(item1)
print(item2)
print(item3)
print(item4)

motherboards
processors
power supply
GPUs

### Loops inside a tuple

In [29]:
for i in tech_tuple:
    print(i)

motherboards
processors
power supply
GPUs

In [30]:
# you can also use the index of the list

for j in range(len(tech_tuple)):
    print(tech_tuple[j])

motherboards
processors
power supply
GPUs

We can also use while loops:

In [31]:
i = 0
while i < len(tech_tuple):
    print(tech_tuple[i])
    i+=1

motherboards
processors
power supply
GPUs

In [32]:
# We can also use List Comprehensive

[print(x) for x in tech_tuple]

motherboards
processors
power supply
GPUs

[None, None, None, None]

### Joining two tuples

We can join or concatenate tuples by using the + operator method:

In [33]:
consoles = ("Atari", "Nintendo", "GameCube")

In [35]:
tech_purchases = tech_tuple + consoles
tech_purchases

('motherboards',
 'processors',
 'power supply',
 'GPUs',
 'Atari',
 'Nintendo',
 'GameCube')

You can also multiply tuples:

In [36]:
newconsoles = consoles*2
newconsoles

('Atari', 'Nintendo', 'GameCube', 'Atari', 'Nintendo', 'GameCube')

### Useful methods you can use on tuples

In [39]:
newconsoles.count("Atari")

2

In [41]:
tech_tuple.index("GPUs")

3

# Sets

Sets are a collection that are unordered and unindexed

In [42]:
shop_set = {"food", "utensils", "fruits", "meat"}
shop_set

{'food', 'fruits', 'meat', 'utensils'}

The items in the set are not ordered, the set also does not allow duplicate elements and also are unchangeable

A set can also have different data types inside of it:

In [43]:
test_set = {"string", 10, False}
test_set

{10, False, 'string'}

In [44]:
# You can create a set by using its constructor

test_set = set(("elements", 100, True))
test_set

{100, True, 'elements'}

### Accessing items inside a set

We cannot access items inside the set by using indexes or keys. However, it is possible to loop through the set or also to check if a specific element is inside of the set:

In [45]:
for x in test_set:
    print(x)

True
100
elements

In [46]:
if "elements" in test_set:
    print("Elements is present inside the set")

Elements is present inside the set

### Adding or removing items inside set

Although you cannot change the items of a set, you can add and remove items of the set:

In [47]:
shop_set.add("electronics")
shop_set

{'electronics', 'food', 'fruits', 'meat', 'utensils'}

It is also possible to add items from another set or other iterable objects (lists, dictionaries, tuples) into the current set using the update() method:

In [48]:
shop_set.update(test_set)
shop_set

{100, True, 'electronics', 'elements', 'food', 'fruits', 'meat', 'utensils'}

Let's remove some of the items inside the set using the remove() method:

In [51]:
shop_set.remove(True)
shop_set.remove('elements')
shop_set.remove(100)
shop_set

In [52]:
shop_set

{'electronics', 'food', 'fruits', 'meat', 'utensils'}

We can also use pop(), del, clear() and discard() methods to remove items from the set

In [64]:
test1 = set(("test",))
test1.update(shop_set)
test1

{'electronics', 'food', 'fruits', 'meat', 'test', 'utensils'}

In [60]:
# Using pop() will delete the last item, but because it is unordered,
# you do not know which is the last item currently
test1.pop()
test1

{'food', 'fruits', 'meat', 'test', 'utensils'}

In [65]:
# you can also use discard()
# the advantage here is that if the item you want to remove does not exist, it will not raise an error
test1.discard("fruits")
test1

{'electronics', 'food', 'meat', 'test', 'utensils'}

In [61]:
# you can also use del to delete the set entirely

del test1

### Loop in sets

In [63]:
for i in shop_set:
    print(i)

electronics
food
meat
fruits
utensils

### Joining two Sets

In order to join two sets you can use union() or the update() method:

In [66]:
test2 = {1, 2, 3}
set_test = shop_set.union(test2)
set_test

{1, 2, 3, 'electronics', 'food', 'fruits', 'meat', 'utensils'}

In [67]:
test3 = {"item1", "item2"}
set_test.update(test3)

In [68]:
set_test

{1,
 2,
 3,
 'electronics',
 'food',
 'fruits',
 'item1',
 'item2',
 'meat',
 'utensils'}

Another important method in this case is the intersection_update() that will allow to keep only the duplicates or the items that are present in both sets:

In [71]:
ultimate_set = set_test
ultimate_set.intersection_update(shop_set)
ultimate_set

{'electronics', 'food', 'fruits', 'meat', 'utensils'}

If you want the elements that are not present in both sets, it's possible to use the symmetric_difference_update() or the symmetric_difference() method in the case you want a new set:

In [72]:
z = shop_set.symmetric_difference(ultimate_set)
z

set()

In [75]:
y = shop_set.symmetric_difference(test2)

In [76]:
y

{1, 2, 3, 'electronics', 'food', 'fruits', 'meat', 'utensils'}

# Dictionaries

Dictionary is another type of built-in collection in Python, and a really important one. This collection is unordered, changeable and doesn't allow duplicates.

Dictionaries have keys and values:

In [77]:
store_dict = {"Books":"On Guard", "Author":"William Lane Craig", "Genre":"Apologetics" }
store_dict

{'Books': 'On Guard', 'Author': 'William Lane Craig', 'Genre': 'Apologetics'}

### Items in a Dictionary

You can access items in the dictionary by using the key name:

In [78]:
print(store_dict["Books"])

On Guard

Because duplicates are not allowed, if you try to duplicate values, it will simply overwrite existing values:

In [79]:
store_dict = {"Books":"On Guard", "Author":"William Lane Craig", "Genre": "Science","Genre":"Apologetics" }

In [80]:
store_dict

{'Books': 'On Guard', 'Author': 'William Lane Craig', 'Genre': 'Apologetics'}

You can store any of the data types inside the dictionary

In [83]:
purchase_orders = {
    "library":"books",
    "electronics":"computers",
    "cafe":["tea", "food"],
    "quantity": 100,
    "paid": True
}
purchase_orders

{'library': 'books',
 'electronics': 'computers',
 'cafe': ['tea', 'food'],
 'quantity': 100,
 'paid': True}

### Accessing items in a dictionary

You can access items in the dictionary simply using the key name:

In [85]:
x = purchase_orders["library"]
x

'books'

Another method to access items is the get() method:

In [88]:
x = purchase_orders.get("cafe")
x

['tea', 'food']

The key() method return a list of all the keys in the dictionary

In [90]:
x = purchase_orders.keys()
x

dict_keys(['library', 'electronics', 'cafe', 'quantity', 'paid'])

This list of the keys in the dictionary is a view of the dictionary, and that means that any changes done to the dictionary will be reflected in this list

In [94]:
# adding a new item in the dictionary will change the list of keys 
purchase_orders["orders"] = "done"
x

dict_keys(['library', 'electronics', 'cafe', 'quantity', 'paid', 'orders'])

The values() method:

In [96]:
# With this method you can get the list of all the values

values_list = purchase_orders.values()
values_list

dict_values(['books', 'computers', ['tea', 'coffee'], 100, True, 'done'])

Items() method will return the items of the dicionary as tuples in a list:

In [97]:
items_list = purchase_orders.items()
items_list

dict_items([('library', 'books'), ('electronics', 'computers'), ('cafe', ['tea', 'coffee']), ('quantity', 100), ('paid', True), ('orders', 'done')])

Checking if a key exist:

In [98]:
if "library" in purchase_orders:
    print("the key does exist in the dictionary")

the key does exist in the dictionary

In [100]:
purchase_orders

{'library': 'books',
 'electronics': 'computers',
 'cafe': ['tea', 'coffee'],
 'quantity': 100,
 'paid': True,
 'orders': 'done',
 'shop list': ['food', 'clothes', 'hygiene products']}

### Change Values

Change the values of the dictionary by referring to its key values

In [101]:
purchase_orders['cafe'] = ['tea', 'coffee', 'muffins']
purchase_orders

{'library': 'books',
 'electronics': 'computers',
 'cafe': ['tea', 'coffee', 'muffins'],
 'quantity': 100,
 'paid': True,
 'orders': 'done',
 'shop list': ['food', 'clothes', 'hygiene products']}

You can also update your dictionary to use update() method:

In [102]:
purchase_orders.update({'paid': False})
purchase_orders

{'library': 'books',
 'electronics': 'computers',
 'cafe': ['tea', 'coffee', 'muffins'],
 'quantity': 100,
 'paid': False,
 'orders': 'done',
 'shop list': ['food', 'clothes', 'hygiene products']}

Adding values

In [99]:
# let's add an item if it does not exist

if "shop list" in purchase_orders:
    print("the key does exist in the dictionary")
else:
    print("the key does not exist in the dictionary but it was added in the dictionary")
    purchase_orders["shop list"] = ['food', 'clothes', 'hygiene products']

the key does not exist in the dictionary but it was added in the dictionary

### Removing items

To remove items in a dictionary, there are the following methods: pop(), popitem(), del, clear():

In [104]:
purchase_orders.pop("shop list")
purchase_orders

{'library': 'books',
 'electronics': 'computers',
 'cafe': ['tea', 'coffee', 'muffins'],
 'quantity': 100,
 'paid': False,
 'orders': 'done'}

In [105]:
purchase_orders.popitem()
purchase_orders

{'library': 'books',
 'electronics': 'computers',
 'cafe': ['tea', 'coffee', 'muffins'],
 'quantity': 100,
 'paid': False}

In [106]:
del purchase_orders["paid"]
purchase_orders

{'library': 'books',
 'electronics': 'computers',
 'cafe': ['tea', 'coffee', 'muffins'],
 'quantity': 100}

The del keyword can also delete the whole dictionary

### Loops in a dictionary

In [107]:
# printing the keys in the dictionary
for j in purchase_orders:
    print(j)

library
electronics
cafe
quantity

In [108]:
# printing the values of the dictionary

for i in purchase_orders:
    print(purchase_orders[i])

books
computers
['tea', 'coffee', 'muffins']
100

In [109]:
# values() method returns the values of the dictionary
for i in purchase_orders.values():
    print(i)

books
computers
['tea', 'coffee', 'muffins']
100

In [110]:
# keys() method returns the keys of the dictionary

for i in purchase_orders.keys():
    print(i)

library
electronics
cafe
quantity

In [112]:
# Use the items() method to get both keys and values

for i, j in purchase_orders.items():
    print(i, j)

library books
electronics computers
cafe ['tea', 'coffee', 'muffins']
quantity 100

### Copy a dictionary

You can use the copy() method in order to copy dictionaries. Do not use